
@{
    ViewData["Title"] = "Your Home For Great TV";
}
<style>
    body{
        background-image: url(css/images/bg.jpg);
        background-color: dimgrey;
        background-repeat: no-repeat;
        background-size: cover;
    }
    p{
        color:black;
    }
    footer{
        background-image: none;
        background-color:azure;
    }
</style>
    <div class="text-left">
        <h3 class="display-4">Welcome To</h3>
        <h1 class=" display-1">FLIX</h1>
        <p>A refreshing way to watch your favorite shows and movies!</p>
    </div>

