@{
    ViewData["Title"] = "Information";
}
<style>
    address{
        color:white;
    }
    .submenu{
        margin-left:40px;
    }
    .tab{
        margin-left:80px;
    }
</style>
<h1>Privacy Policy</h1>

<p>
    Online privacy is always utmost in our minds. Let's collectively work together to protect ourselves. Use strong and unique
    passwords for all your accounts!
</p>
<address>
    Contact <a class="btn btn-info" href="mailto:bickelsolutions@gmail.com">me</a> with any issues.
</address>

<h1>How to Navigate Flix</h1>
<p class="submenu">
    1.) Starting at the top, the <b>Navigation bar:</b>
</p>
<p class="tab">
    Before logging in:<br/>
    You will be presented with four menu options:<br/>
    Flix: This will return you to the Welcome screen and will be present throughout your experience.<br/>
    Help: ONLY VISIBLE WHEN LOGGED OUT. This will bring you to this page to get information on using Flix.<br/>
    Register: This is where you can register for your account. Once registered you will receive an email confirmation. Options for logging in via 
    Facebook and Google are located here as well<br/>
    Login: Once you have registered an account with Flix, this is where you will go to login.<br/><br/>
    
    After logging in:<br/>
    Flix: This will return you to the Welcome screen from any part of Flix.<br/>
    Movies: Shows all movies in the system<br/>
    Shows: Shows all TV Shows in the system<br/>
    Search: Can search by name or category.<br/>
</p><br />
<p class="submenu">
    2.) Adding to the collection, <b>Uploading:</b>
</p>
<p class="tab">
    Uploading requires uploading rights. These rights are granted by an admin. Send an email using the "me" button at the top of the page.<br />
    Once upload rights are granted, select the add button at the top of the movies or shows area. You will select your .mp4 formated movie file, 
    a cover image, enter the name (no special characters), specify whether it is a movie or TV show, select the appropriate category, and put in a
    description.<br />
    Now, press the upload button and wait for the upload to complete. The progress percentage is typically displayed in the bottom left of the browser window.
</p>